<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Time Clock Web Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--link href="${bootstrapCss}" rel="stylesheet" /-->
    <link rel="stylesheet" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <!--link href="${coreCss}" rel="stylesheet" /-->
</head>


<!-- todo : get these stupid thymeleaf templates working -
<div th:replace="~{fragments/header :: header}">header</div>
-->

<body>


<nav class="navbar  navbar-expand-md navbar-dark fixed-top bg-dark">

    <a class="navbar-brand" href="#">
        <img src="assets/Company-Logo-Placeholder.jpg" alt="Company Logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Time Sheet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<p th:text="'Hello, ' + ${name} + '!'" />
<p th:text="'Auth result: ' + ${result} + '!'" />

<script type="text/javascript" src="webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>